<div class="m-2">
<div class="border border-primary rounded m-1" style="padding:5px;">
<p class="display-3 ">浜松のドライブスポット一覧</p>
</div><br>

<% if user_signed_in? %>
  <p class="display-6"> 
    <%= "#{current_user.nickname}さん、" %>
    今日を最高のドライブデーにしよう！！
  </p> 
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: 'btn btn-info btn-lg' %>
  <%= link_to "スポットを投稿する", new_spot_path, class:"btn btn-danger btn-lg" %>
<% else %>
  <p class="display-6"> 
    下のボタンから新規登録かログインをしよう！！
  </p> 
  <%= link_to "新規登録",new_user_registration_path ,class:"btn btn-danger btn-lg"%>
  <%= link_to "ログイン",new_user_session_path ,class: 'btn btn-info btn-lg'%>
<% end %>
<%= link_to "ドライブの目的地を自分で決められないって人はこちらのボタンを押してね！！", search_spots_path , class:"btn btn-warning btn-lg"%>

<div class="mt-3">
<p class="display-6 bg-primary text-white text-left">スポット紹介</p>
</div>

  <p class="display-7"> 
   スポットの名前を押すと詳細を見ることができるよ🤗　　(点数は10点満点、あくまで投稿者の主観になります。)
  </p> 

<div class = "spot-content">
  <div class="p-3 mb-2 bg-success text-white">食事</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 1 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-secondary text-white">ショッピング</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 2 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-danger text-white">夜景</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 3 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-warning text-dark">公園</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 4 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-primary text-white">海</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 5 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-info text-white">山</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 6 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-secondary text-white">神社、寺院関係</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 7 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-dark text-white">城</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 8 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
  <div class="p-3 mb-2 bg-success text-white">その他</div>
    <% @spots.each do |spot| %>
      <% if spot.genre_id == 9 %>
        <p class="display-6">
          ○
          <%= link_to spot.name, spot_path(spot.id) %>
          ：<%= spot.score %>点 <small class="text-muted">(投稿者:<%= spot.user.nickname %>)</small>
        </p> 
      <% end %>
    <% end %>
</div>
</div>