<div class="m-2">
  <h1 class="user-title"><%= @user.nickname%>さんのマイページ</h1>
  <div class="mt-3">
    <%= link_to "スポット一覧ページにもとる", root_path, class:"btn btn-danger btn-lg" %>
  </div>
  <h2 class="mt-3">
  <%= @user.nickname%>さんが、今まで投稿してきたスポット　件
  </h2>

  <div class = "border border-primary border-3 rounded m-2 p-3">
    <h3>
      管理者から<%= @user.nickname%>さんへ
    </h3>
    
    <p>
    <!-- スポット投稿０件の場合 -->
    <%= @user.nickname%>さん、まずは新規登録して頂き、誠にありがとうございます！！<br>
    まだスポットを登録したことがないみたいですね！！<br>
    <%= @user.nickname%>さんが、一番好きな場所や、よく利用する場所でいいので、まずは1カ所スポットを投稿してみましょう！<br>
    </p>

    <p>
    <!-- スポット投稿1件の場合 -->
    <%= @user.nickname%>さん、まずは1件スポットを登録することが出来ましたね！！<br>
    まだまだ、<%= @user.nickname%>さんが、好きな場所や、よく利用する場所があるのではないでしょうか？？<br>
    そんなスポットを是非、私やユーザーの皆様に教えていただきたいです🤩<br>
    </p>

    <p>
    <!-- スポット投稿2件〜4件の場合 -->
    <%= @user.nickname%>さん、順調にスポット投稿してくれていますね😄<br>
    しかし、まだまだ<%= @user.nickname%>さんが、ユーザーの皆さんに伝えなくては行けない場所があるはずです！！<br>
    まずはスポット投稿５件を目標に頑張ってみましょう！応援しております！！<br>
    </p>

    <p>
    <!-- スポット投稿5件〜8件の場合 -->
    <%= @user.nickname%>さん、スポット投稿5件以上の壁を乗り越えましたね😄<br>
    おめでとうございます！！<%= @user.nickname%>さんのお気に入りの場所はだいたい投稿することができたでしょうか？<br>
    今度は各スポットのジャンル別に好きな場所を思い浮かべて投稿してみてください！！<br>
    それだけで9件以上投稿できるはずです!!<br>
    というわけで今度の目標は9件！！そのときにまたお会いしましょう！<br>
    </p>

    <p>
    <!-- スポット投稿9件〜14件の場合 -->
    <%= @user.nickname%>さん、スポットを9件以上も投稿して頂き、本当にありがとうございます🙇‍♀️<br>
    9件以上ものスポットを教えてくれた<%= @user.nickname%>さんは、浜松を愛していると言っていいでしょう！<br>
    そんな私から<%= @user.nickname%>さんに最後の試練です。<br>
    スポット投稿15件以上を目指して頑張ってください!!<br>
    ここまでやれたあなたならできるはず(^^)<br>
    </p>

    <p>
    <!-- スポット投稿15件以上の場合 -->
    <%= @user.nickname%>さん!!遂に…スポット投稿15件以上達成です😳<br>
    こんなに多くのスポットを教えてくれた<%= @user.nickname%>さんは、まさに浜松マスターと呼べる存在だと思います。<br>
    ここまで、色々な種類のスポットを教えていただきましたこと、心より感謝いたします！<br>
    今後も是非このアプリを支えてください！！(#^.^#)<br>
    </p>


    <p>
    <!-- スポットが何件でもここは表示 -->
    このアプリはユーザーの皆様がスポットをたくさん投稿することで、成立しています！<br>
    今後ともご利用よろしくお願いいたします😊<br>
    </p>
  </div>
</div>